# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/extlibs/gsl/bin
/extlibs/gsl/include
/extlibs/gsl/lib
/extlibs/gsl/share
/diffusion4
/diffusion4_test
/*.layout
/*.user
/doc
/manual/*.aux
/manual/*.lof
/manual/*.log
/manual/*.lot
/manual/*.synctex
/manual/*.toc
/manual/*.tps
